<ng-container *ngIf="isMessageFromMe; then messageFromMe else messageFromSomeone">

</ng-container>

<ng-template #messageFromMe>
  <div class="d-flex justify-content-end mb-3" (click)="messageClicked()">
    <div class="msg_cotainer_send">
      {{message.content}}
        <span [ngClass]="{'msg_time_send': showTime, 'hidden': !showTime}">
        {{message.time | date:'dd.MM.yy, HH:mm'}}
      </span>
    </div>
  </div>
</ng-template>

<ng-template #messageFromSomeone>
  <div class="d-flex justify-content-start mb-3" (click)="messageClicked()">
    <div class="msg_cotainer">
      <b>{{message.username}}: </b><br />
      {{message.content}}
      <span [ngClass]="{'msg_time': showTime, 'hidden': !showTime}">
        {{message.time | date:'dd.MM.yy, HH:mm'}}
      </span>
    </div>
  </div>
</ng-template>
