<div class="col-md-8 col-xl-6 chat">
  <div class="card">
    <div class="card-header msg_head">
    </div>
    <div class="card-body msg_card_body">
      <ng-container *ngFor="let message of bunchOfMessages">
        <app-message-on-list [message]="message" [isMessageFromMe]="getRandomInt2() === 0"></app-message-on-list>
      </ng-container>
    </div>
    <div class="card-footer">
      <div class="input-group">
        <textarea name="" class="form-control type_msg" placeholder="Type your message..." [(ngModel)]="messageForm.msg"></textarea>
        <div class="input-group-append">
          <span class="input-group-text send_btn" (click)="GetMessages()">
            <i class="fas fa-location-arrow">
            </i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <p *ngFor="let item of bunchOfMessages">
    {{item.username}}
    <br />
    {{item.content}}
    <br />
    {{item.time}}
  </p>
</div>
